<section id="home">
	<div class="homeBg"></div>
	<div id="homeCanvas" class="homeCanvas">
		<canvas id="homeCanvas2" style="position:fixed;bottom:0;"></canvas>
	</div>
	<div class="homeContent" id="homeContent">
		<div class="home_part1">
			<div class="main-title">
				<h1 class="c_1">王小窝</h1>
				<p class="c_1">不忘初心，方能始终</p>
			</div>
		</div>
		<div class="home_part2" >
			<div class="main-title">
				<h3>整合常用的UI组件、插件</h3>
				<p>让web开发更迅速、简单</p>
			</div>
			<div class="workExample">
				<div class="row">
					<div class="col-xs-4 col-md-3">
						<a href="javascript:viod(0)">
							<img src="src/img/home/home1.jpg" alt="UI设计规范">
							<i class="iconfont">&#xe63e;</i>
							<div class="info">    
								<h4 class="title">UI设计规范</h4>    
								<p>本站点的ui设计规范，包含每个组件的css样式，使用方便，使整站页面统一稳定。</p>   
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-md-6">
						<a href="javascript:viod(0)">
							<img src="src/img/home/home5.jpg" alt="css3按钮特效"><i class="iconfont">&#xe63e;</i>
							<div class="info">    
								<h4 class="title">css3按钮特效</h4>    
								<p>纯CSS3制作的效果很酷的鼠标滑过彩色按钮动画特效</p>   
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-md-3">
						<a href="javascript:viod(0)">
							<img src="src/img/home/home3.jpg" alt="DOM深入探索"><i class="iconfont">&#xe63e;</i>
							<div class="info">    
								<h4 class="title">DOM深入探索</h4>    
								<p>基于DOM树来介绍Render树和Layer树的构建由来和方式。</p>   
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-md-6">
						<a href="javascript:viod(0)">
							<img src="src/img/home/home2.jpg" alt="css样式分离"><i class="iconfont">&#xe63e;</i>
								<div class="info">    
									<h4 class="title">css样式分离</h4>    
									<p>构成的基本元素越是独立，越是简单，其组合的的可能性，元素的利用率越高。</p>   
								</div>
						</a>
					</div>
					<div class="col-xs-4 col-md-3">
						<a href="javascript:viod(0)">
							<img src="src/img/home/home6.jpg" alt="客户引导"><i class="iconfont">&#xe63e;</i>
							<div class="info">    
								<h4 class="title">客户引导插件</h4>    
								<p>当用户首次进入网站时会提示网站功能引导，提示用户操作。</p>   
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-md-3">
						<a href="javascript:viod(0)">
							<img src="src/img/home/home4.jpg" alt="瀑布流"><i class="iconfont">&#xe63e;</i>
							<div class="info">    
								<h4 class="title">瀑布流插件</h4>    
								<p>响应式网格瀑布流jQuery插件，使用ajax动态加载图片，达到无限加载的效果。</p>   
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>