<div class="ui gray-bg">
	<div class="row">
		<div class="col-md-9">
			<div id="uiContent">
				<div class="color">
					<h3 class="c-1 uiTitle" id="color">配色</h3>
					<div class="wbox">
						<h3 class="wbox-title c-1" id="mainColor">主颜色</h3>
						<div class="wbox-content">
							<p class="mainColor clBlock">#ff0000</p>
						</div>
					</div>
					<div class="wbox">
						<h3 class="wbox-title c-1" id="blackWhiteColor">黑白色板</h3>
						<div class="wbox-content">
							<p class="bw3 clBlock">#333333</p>
							<p class="bw6 clBlock">#626262</p>
							<p class="bw9 clBlock">#999999</p>
							<p class="bwd clBlock">#dcdcdc</p>
							<p class="bwe clBlock">#eeeeee</p>
						</div>
					</div>
					<div class="wbox">
						<h3 class="wbox-title c-1" id="mixColor">混合色板</h3>
						<div class="wbox-content">
							<p class="mixB4 clBlock">#990000</p>
							<p class="mixB2 clBlock">#cc0000</p>
							<p class="mixW8 clBlock">#ffcccc</p>
							<p class="mixW2 clBlock">#ff3333</p>
							<p class="mixW clBlock">#ff1414</p>
						</div>
					</div>
					<div class="wbox">
						<h3 class="wbox-title c-1" id="statusColor">状态色板</h3>
						<div class="wbox-content">
							<p class="sComplate clBlock">#28b5f5</p>
							<p class="sCancle clBlock">#DDDDDD</p>
							<p class="sMsg clBlock">#59bedc</p>
							<p class="sSuccess clBlock">#0fc4b1</p>
							<p class="sWarning clBlock">#ffaa00</p>
							<p class="sDanger clBlock">#ff5151</p>
						</div>
					</div>
					<div class="wbox">
						<h3 class="wbox-title c-1" id="lineColor">线条背景颜色</h3>
						<div class="wbox-content">
							<p class="lineD clBlock">#dcdcdc</p>
							<p class="lineE clBlock">#eeeeee</p>
							<p class="lineF5 clBlock">#f5f5f5</p>
							<p class="lineF clBlock">#f89545</p>
							<p class="lineS clBlock">#FDE4D1</p>
							<p class="lineT clBlock">#FEF5ED</p>
						</div>
					</div>
					<div class="wbox">
						<h3 class="wbox-title c-1" id="fontColor">字体颜色</h3>
						<div class="wbox-content">
							<p class="font3 clBlock">#333333</p>
							<p class="font6 clBlock">#626262</p>
							<p class="font9 clBlock">#999999</p>
						</div>
					</div>
					<div class="wbox">
						<h3 class="wbox-title c-1" id="buttonColor">按钮Hover</h3>
						<div class="wbox-content">
							<p class="mixB4 clBlock">#990000</p>
							<p class="mixB2 clBlock">#cc0000</p>
						</div>
					</div>
				</div>
				<div class="form">
					<h3 class="c-1 uiTitle"  id="formList">表单</h3>
					<div class="wbox formList">
						<h3 class="wbox-title c-1" id="form">表单</h3>
						<div class="wbox-content">
							<div class="design">
								<h3>设计规范</h3>
								<img src="src/img/ui/input.jpg" alt="表单设计规范">
							</div>
							<div class="container-fluid example">
							<div class="byHeight">
									<h3 class="uiBlock">按高度分类</h3>
									<div class="doc">
										分为四种尺寸：[.input-thin][.input-default][.input-fat][.input-xfat]
									</div>
									<div class="row">
										<div class="col-md-6 demo">
											<form class="wo-form">
												<input type="text" placeholder=".input-thin H=30px" class="input-thin">
												<input type="text" placeholder=".input-default H=35px" class="input-default">
												<input type="text" placeholder=".input-fat H=40px" class="input-fat">
												<input type="text" placeholder=".input-xfat H=45px" class="input-xfat">
											</form>
										</div>
										<div class="col-md-6 code">
											<pre><code>&lt;form class="wo-form"&gt;
											        &lt;input type="text" placeholder=".input-thin" class="input-thin"&gt;
											        &lt;input type="text" placeholder=".input-default" class="input-default"&gt;
											        &lt;input type="text" placeholder=".input-fat" class="input-fat"&gt;
											        &lt;input type="text" placeholder=".input-xfat" class="input-xfat"&gt;
											&lt;/form&gt;</code></pre>
										</div>
									</div>
								</div>
								<div class="byWidth">
									<h3 class="uiBlock">按宽度分类</h3>
									<div class="doc">
										分为4种尺寸：[.input-small][.input-medium][.input-large][.input-xlarge]
									</div>
									<div class="row">
										<div class="col-md-6 demo">
											<form class="wo-form">
												<input type="text" placeholder=".input-small W=150px" class="input-small">
												<input type="text" placeholder=".input-medium W=300px" class="input-medium">
												<input type="text" placeholder=".input-large W=450px" class="input-large">
												<input type="text" placeholder=".input-xlarge W=600px" class="input-xlarge">
											</form>
										</div>
										<div class="col-md-6 code">
											<pre><code>&lt;form class="wo-form"&gt;
											        &lt;input type="text" placeholder=".input-small" class="input-small"&gt;
											        &lt;input type="text" placeholder=".input-medium" class="input-medium"&gt;
											        &lt;input type="text" placeholder=".input-large" class="input-large"&gt;
											        &lt;input type="text" placeholder=".input-xlarge" class="input-xlarge"&gt;
											&lt;/form&gt;</code></pre>
										</div>
									</div>
								</div>
								<div class="byBlock">
									<h3 class="uiBlock">块级</h3>
									<div class="doc">
										[.input-block]
									</div>
									<div class="row">
										<div class="col-md-6 demo">
											<form class="wo-form">
												<input type="text" placeholder=".input-block" class="input-block">
											</form>
										</div>
										<div class="col-md-6 code">
											<pre><code>&lt;form class="wo-form"&gt;
											        &lt;input type="text" placeholder=".input-block" class="input-block"&gt;
											&lt;/form&gt;</code></pre>
										</div>
									</div>
								</div>
								<div class="byDisabled">
									<h3 class="uiBlock">禁用</h3>
									<div class="doc">
										[.input-disabled]
									</div>
									<div class="row">
										<div class="col-md-6 demo">
											<form class="wo-form">
												<input type="text" disabled placeholder="Disabled input here…" class="input-xlarge">
											</form>
										</div>
										<div class="col-md-6 code">
											<pre><code>&lt;input type="text" disabled placeholder="Disabled input here…" class="input-xlarge"&gt;</code></pre>
										</div>
									</div>
								</div>
								<div class="byIcon">
									<h3 class="uiBlock">带图标</h3>
									<div class="doc">
										[.input-control][.wo-icon]
									</div>
									<div class="row">
										<div class="col-md-6 demo">
											<form class="wo-form">
												<div class="input-control">
													<input type="text" class="input-thin">
													<i class="wo-icon">&#xe61a;</i>
												</div>
												<div class="input-control">
													<input type="text" class="input-fat">
													<i class="wo-icon">&#xe61a;</i>
												</div>
												<div class="input-control">
													<input type="text" class="input-xfat">
													<i class="wo-icon">&#xe61a;</i>
												</div>
												<div class="input-control control-right">
													<input type="text" class="input-thin">
													<i class="wo-icon">&#xe61a;</i>
												</div>
												<div class="input-control control-right">
													<input type="text" class="input-fat">
													<i class="wo-icon">&#xe61a;</i>
												</div>
												<div class="input-control control-right">
													<input type="text" class="input-xfat">
													<i class="wo-icon">&#xe61a;</i>
												</div>
											</form>
										</div>
										<div class="col-md-6 code">
											<img src="src/img/ui/1.png" alt="">
										</div>
									</div>
								</div>
									<div class="byStatus">
									<h3 class="uiBlock">状态</h3>
									<div class="doc">
										[.input-control][.wo-icon]
									</div>
									<div class="row">
										<div class="col-md-6 demo">
											<form class="wo-form">
												<input type="text" class="input-warning" placeholder=".input-warning">
												<input type="text" class="input-error" placeholder=".input-error">
												<input type="text" class="input-success" placeholder=".input-success">
												<input type="text" class="input-info" placeholder=".input-info">
											</form>
										</div>
										<div class="col-md-6 code">
											<pre><code>&lt;form class="wo-form"&gt;
												&lt;input type="text" class="input-warning" placeholder=".input-warning"&gt;
												&lt;input type="text" class="input-error" placeholder=".input-error"&gt;
												&lt;input type="text" class="input-success" placeholder=".input-success"&gt;
												&lt;input type="text" class="input-info" placeholder=".input-info"&gt;
											&lt;/form&gt;</code></pre>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="wbox button">
						<h3 class="wbox-title c-1" id="button">按钮</h3>
						<div class="wbox-content">
							<div class="design">
								<h3>设计规范</h3>
								<img src="src/img/ui/btn.png" alt="按钮设计规范">
							</div>
							<div class="container-fluid example">
								<div class="bySize">
									<h3 class="uiBlock">不同大小和功能的按钮</h3>
									<div class="doc">
										大小分：[.btn-large]、默认、[.btn-small]
										功能分：[.btn-default]、[.btn-primary]、[.btn-success]、[.btn-warning]、[.btn-danger]
										注：必须加入[.wo-btn]
									</div>
									<div class="row">
										<div class="col-md-6 demo">
											<a href="javascript:void(0)" class="wo-btn btn-default btn-large">默认</a>
											<a href="javascript:void(0)" class="wo-btn btn-primary btn-large">首要</a>
											<a href="javascript:void(0)" class="wo-btn btn-success btn-large">成功</a>
											<a href="javascript:void(0)" class="wo-btn btn-warning btn-large">警告</a>
											<a href="javascript:void(0)" class="wo-btn btn-danger btn-large">危险</a>
											<a href="javascript:void(0)" class="wo-btn btn-default btn-large" disabled="disabled">禁用</a>

											<br>
											<a href="javascript:void(0)" class="wo-btn btn-default">默认</a>
											<a href="javascript:void(0)" class="wo-btn btn-primary">首要</a>
											<a href="javascript:void(0)" class="wo-btn btn-success">成功</a>
											<a href="javascript:void(0)" class="wo-btn btn-warning">警告</a>
											<a href="javascript:void(0)" class="wo-btn btn-danger">危险</a>
											<a href="javascript:void(0)" class="wo-btn btn-default" disabled="disabled">禁用</a>

											<br>
											<a href="javascript:void(0)" class="wo-btn btn-default btn-small">默认</a>
											<a href="javascript:void(0)" class="wo-btn btn-primary btn-small">首要</a>
											<a href="javascript:void(0)" class="wo-btn btn-success btn-small">成功</a>
											<a href="javascript:void(0)" class="wo-btn btn-warning btn-small">警告</a>
											<a href="javascript:void(0)" class="wo-btn btn-danger btn-small">危险</a>
											<a href="javascript:void(0)" class="wo-btn btn-default btn-small" disabled="disabled">禁用</a>
											<br>
											<a href="javascript:void(0)" class="wo-btn btn-default btn-bordered">默认</a>
											<a href="javascript:void(0)" class="wo-btn btn-primary btn-bordered">首要</a>
											<a href="javascript:void(0)" class="wo-btn btn-success btn-bordered">成功</a>
											<a href="javascript:void(0)" class="wo-btn btn-warning btn-bordered">警告</a>
											<a href="javascript:void(0)" class="wo-btn btn-danger btn-bordered">危险</a>
										</div>
										<div class="col-md-6 code">
											<img src="src/img/ui/2.png" alt="">
										</div>
									</div>
								</div>
									<div class="byIcon">
									<h3 class="uiBlock">带图标的按钮</h3>
									<div class="row">
										<div class="col-md-6 demo">
											<a href="javascript:void(0)" class="wo-btn btn-primary btn-large"><i class="wo-icon">&#xe61a;</i>首要</a>
											<a href="javascript:void(0)" class="wo-btn btn-primary"><i class="wo-icon">&#xe61a;</i>首要</a>
											<a href="javascript:void(0)" class="wo-btn btn-primary btn-small"><i class="wo-icon">&#xe61a;</i>首要</a>
										</div>
										<div class="col-md-6 code">
											<pre><code>&lt;a href="javascript:void(0)" class="wo-btn btn-primary btn-large"&gt;&lt;i class="wo-icon"&gt;&#xe61a;&lt;/i&gt;首要&lt;/a&gt;
											&lt;a href="javascript:void(0)" class="wo-btn btn-primary"&gt;&lt;i class="wo-icon"&gt;&#xe61a;&lt;/i&gt;首要&lt;/a&gt;
											&lt;a href="javascript:void(0)" class="wo-btn btn-primary btn-small"&gt;&lt;i class="wo-icon"&gt;&#xe61a;&lt;/i&gt;首要&lt;/a&gt;</code></pre>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<ul class="sideNavBox" id="sideNavBox"></ul>
		</div>
	</div>
</div>

