	<div class="row">
				<div class="col-md-6">
					<h3>王小窝</h3>
					<p>
						王小窝是生活及工作中的一个总结，本站的灵感来自于剧中人的小剧客栈，再此感谢剧中人，希望自己的技能有所增长，也希望借此结交更多前辈好友，愿与大家共同分享，一起进步！
					</p>
				</div>
				<div class="col-md-3 link">
					<h3>关于</h3>
					<ul id="navLink">
						<li><a data-href="index" href="javascript:void(0)">首页</a></li>
						<li><a data-href="blog" href="javascript:void(0)">博客</a></li>
						<li><a data-href="ui" href="javascript:void(0)">UI组件</a></li>
						<li><a href="javascript:void(0)">关于我</a></li>
						<li><a href="javascript:void(0)">关于王小窝</a></li>
					</ul>
				</div>
				<div class="col-md-3 link">
					<h3>友情链接</h3>
					<ul id="friendLink">
						<li><a target="_blank" href="http://bh-lay.com/">剧中人</a></li>
						<li><a target="_blank" href="http://www.cnblogs.com/jikey/">豪情</a></li>
						<li><a target="_blank" href="http://www.cnblogs.com/wangfupeng1988/">王福朋</a></li>
						<li><a target="_blank" href="http://www.zhangxinxu.com/">张鑫旭</a></li>
					</ul>
				</div>

			</div>
			<div class="row design">
				<div class="col-md-12"> 
					<a href="//www.miitbeian.gov.cn" style="text-decoration: none; color:#fff">备案号: 沪ICP备17003237号-2</a>
			        <!-- <p>© 2012-2015。感谢七牛云存储提供静态资源空间。</p> -->
			    </div>
			</div>

		