n_starttext/* CSS Document */
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
a img {border:0}
body { color: #000; text-align: left; font: 12px "宋体";  }
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
a:hover { color: #D40000; text-decoration: none}

#n_index{ width:500px; background:url(../Images/FlowLook/bj.gif) ; margin:0 auto;}
#n_indexkb{ height:5px;}
#n_start{ width:290px; height:79px; margin:0 auto;  margin-left:110px;}

.n_starttext a{ margin-left:35px; margin-top:15px;color:#FFFFFF; font-family:"Microsoft YaHei UI"; font-size:28px; float:left; text-align:center; }
.n_starttext a:hover{ color:#5a5a5a;}
#n_arrow{ height:46px; width:274px; display:block; margin:0 auto; text-align:center; }
#n_arrow1{ height:46px; width:284px; display:block; margin:0 auto; text-align:center;  }



/**********部门处理**********/
#n_bmcl{ margin:0 auto; width:460px; }
.n_bmcl_title{ width:458px; height:35px; background-color:#44b5df/*#27c1cb*/; color:#ffffff; font-family:"Microsoft YaHei UI"; font-size:18px; margin:0 auto;}
.n_bmcl_button a{ margin-left:40px; margin-top:1px; float:left; }
/*.n_bmcl_button a:hover{ margin-top:1px;}*/
.n_bmcl_text{color:#ffffff; font-family:"微软雅黑"; font-size:20px; text-align:center; font-weight:400;}
.x_bmch_t{background-color:#FFF; font-size:12px; color:#333;}
.x_bt{ height:30px; font-size:14px; font-family:"微软雅黑"; font-weight:400; color:#44b5df;border-bottom:solid 1px #cacaca; border-right:solid 1px #cacaca;background-color:#e6e4e4	;margin-top:1px;}
.x_btnr{border-bottom:solid 1px #cacaca; border-right:solid 1px #cacaca;background-color:#e6e4e4;margin-top:1px; line-height:25px; color:#4d4d4d}
.x_btnrg{border-bottom:solid 1px #cacaca; border-right:solid 1px #cacaca;background-color:#beedff;margin-top:1px; line-height:25px; color:#252525}

.n_contain li{ border-bottom:solid 1px #cacaca; height:30px; background-color:#e1e1e1/*#59d3db*/; margin-top:1px;}
.n_contain li a{ padding:25px;/* margin-top:20px;*/ color:#44b5df}
.n_contain li a:hover{ outline-style:none;color:#535353;text-decoration:none}
.n_contain li span{font-size:16px; color:#44b5df; font-weight:400; line-height:30px;}



/***********领导处理**********/
#n_ldcl{ margin:0 auto; width:260px; }
.n_ldcl_title{ width:258px; height:35px; background-color:#44b5df/*#27c1cb*/; color:#FFFFFF;  }
.n_ldcl_button a{ margin-left:40px; margin-top:1px; float:left; }
/*.n_bmcl_button a:hover{ margin-top:1px;}*/
.n_ldcl_text a{ margin-left:80px; margin-top:1px;color:#FFFFFF; font-size:20px; font-family:"微软雅黑"; font-weight:400; float:left; text-align:center; }
.n_ldcl_text a:hover{ color:#fdca00;}
.n_contain1 li{ border-bottom:solid 1px #cacaca; height:30px; background-color:#e1e1e1/*#59d3db*/; margin-top:1px; color:#000; }
.n_contain1 li a{ padding:25px;/* margin-top:20px;*/ margin-top:20px;color:#44b5df;}
.n_contain1 li a:hover{ outline-style:none;color:#535353;text-decoration:none}
.n_contain1 li span{font-size:16px; margin:0 auto; color:#44b5df; font-weight:400; line-height:30px;}

#n_end{ width:279px; height:82px; margin:0 auto;}
.n_endbutton a{ margin-left:33px; margin-top:5px; float:left; }
.n_endbutton a:hover{ margin-top:6px;}
.n_endtext a{ margin-left:34px; margin-top:15px;color:#FFFFFF; font-family:"Microsoft YaHei UI"; font-size:28px; float:left; text-align:center; }
.n_endtext a:hover{ color:#ff0000;}